.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  z-index: z('navigation');

  @include media('<phone') {
    padding: 24px;
  }
}

.nav__left {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
}

.nav__left__title {
  @extend %title-32;
}

.nav__left__text {
  @extend %title-24;
}

.nav__right {
  @extend %title-24;

  position: relative;
}

.nav__right__link {
  position: absolute;
  right: 0;
  top: 0;

  @extend %link;
}
