%title-16 {
  font-family: $font-bebas-neue;
  font-size: 1.6rem;
  line-height: 100%;
}

%title-20 {
  font-family: $font-bebas-neue;
  font-size: 2rem;
  line-height: 100%;
}

%title-24 {
  font-family: $font-bebas-neue;
  font-size: 2.4rem;
  line-height: 100%;
}

%title-32 {
  font-family: $font-bebas-neue;
  font-size: 3.2rem;
  line-height: 100%;
}

%title-96 {
  font-family: $font-bebas-neue;
  font-size: 9.6rem;
  line-height: 100%;
}

%title-120 {
  font-family: $font-bebas-neue;
  font-size: 12rem;
  line-height: 100%;
}

%title-226 {
  font-family: $font-bebas-neue;
  font-size: 22.6rem;
  line-height: 80%;
}
