footer.footer
  .footer__left
    h3.footer__left__title Available
    p.footer__left__text Creative job / freelance
  ul.footer__right
    li.footer__right__item
      a.footer__right__link(href="https://twitter.com/Mathis1Humbert" target='_blank') Twitter
    li.footer__right__item
      a.footer__right__link(href="mailto:mathishumbert71@gmail.com"  target='_blank') Email
    li.footer__right__item
      a.footer__right__link(href="https://github.com/MathisHumbert"  target='_blank') Github