nav.nav
  .nav__left
    h3.nav__left__title Mathis Humbert
    p.nav__left__text
      span.nav__left__text--small Creative
      | &nbsp;
      span.nav__left__text--big Developer
  .nav__right
    a.nav__right--about(href="/about") About