nav.nav
  .nav__left
    h3.nav__left__title(data-animation='navigation-title' data-delay=0)=prismic.nav.data.title
    p.nav__left__text(data-animation='navigation-title' data-delay=0.1)=prismic.nav.data.description
  .nav__right
    a.nav__right__link(href='/about' data-animation='navigation-link' data-delay=0.2) About
    a.nav__right__link(href='/' data-animation='navigation-link' data-delay=0.2) Home