.preloader
  h2.preloader__title(data-animation="highlight")=prismic.preloader.data.title
  h3.preloader__subtitle(data-animation="highlight" )=prismic.preloader.data.subtitle
  p.preloader__description(data-animation="description")=prismic.preloader.data.description
  p.preloader__number 0%