$z-indexes: ('preloader', 'navigation', 'content', 'canvas');

$breakpoints: (
  'phone': 768px,
  'desktop': 1920px,
) !default;

$ease-smooth: cubic-bezier(0.7, 0, 0.3, 1);
$ease-translate: cubic-bezier(0.9, 0, 0.1, 1);
$ease-in: cubic-bezier(0.19, 1, 0.22, 1);

$color-cararra: #eae9e5;
$color-cod-gray: #1a1a1a;

$font-satoshi: 'Satoshi';
$font-bebas-neue: 'Bebas Neue';

@import 'node_modules/include-media/dist/include-media';
