.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %page__wrapper;
}

.home__gallery {
  @extend %cover;
}

.home__track {
  position: fixed;
  top: 50%;
  left: 16.8rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.home__track__current {
  @extend %title-20;
}

.home__track__line {
  width: 1px;
  height: 8rem;
  background: $color-cararra;
}

.home__track__total {
  @extend %title-20;
}

.home__line {
  position: fixed;
  top: 50%;
  right: 16.8rem;
  width: 2rem;
  height: 1px;
}
