.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %page__wrapper;
}

.home__gallery {
  @extend %cover;
}

.home__project {
  @extend %cover;

  pointer-events: none;
  opacity: 0;

  &--active {
    pointer-events: inherit;
  }
}

.home__project__title {
  position: fixed;
  top: 50%;
  left: 34.5rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;

  h3 {
    @extend %title-120;
    @extend %animation-text;
  }

  p {
    @extend %title-96;
    @extend %animation-text;
  }
}

.home__project__infos {
  position: fixed;
  top: 50%;
  left: 157.5rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 20rem;
}

.home__project__info {
  @extend %title-20;
}

.home__project__info__title {
  @extend %animation-text;

  margin-bottom: 0.2rem;
}

.home__project__info__link {
  @extend %animation-text;

  display: block;
  text-decoration: underline;
}

.home__project__info__text {
  @extend %animation-text;

  display: block;
}

.home__track {
  position: fixed;
  top: 50%;
  left: 16.8rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.home__track__current {
  @extend %title-20;
}

.home__track__line {
  width: 1px;
  height: 8rem;
  background: $color-cararra;
}

.home__track__total {
  @extend %title-20;
}

.home__line {
  position: fixed;
  top: 50%;
  right: 3.2rem;
  width: 2rem;
  height: 1px;
}
