@font-face {
  font-family: $font-satoshi;
  src: url('../fonts/satoshi-medium.woff2') format('woff2'),
    url('../fonts/satoshi-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-bebas-neue;
  src: url('../fonts/bebas-neue-regular.woff2') format('woff2'),
    url('../fonts/bebas-neue-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
